@model Alugamer.Models.Aluguel

@using System.Collections.Generic
@using Alugamer.Models 
@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    string disabled = Model.Id != 0 ? "disabled" : null;
    string display = Model.Id != 0 ? "display:none" : null;
}
@section Scripts{
    <script type="text/javascript" src="~/js/CadastroAluguel.js"></script>
}

@section CSS{
    <link rel="stylesheet" href="~/css/CadastroAluguel.css" />
}

<div class="formAluguel">
    <form>
        <fieldset>
            <input type="hidden" id="idFunc">
            <input type="hidden" id="idCli">
            <table class="tableInfo">
                <tbody>
                    <tr>
                        <td class="Cem">
                            <label for="nomeCliente">Cliente:</label>
                            <select id="nomeCliente" @disabled>
                                <option value="0">Escolha...</option>
                                @foreach (Cliente cliente in ViewBag.listaClientes)
                                {
                                    @if (cliente.Id == Model.Locatario)
                                    {
                                        <option value="@cliente.Id" selected> @cliente.Nome</option>
                                    }
                                    else
                                    {
                                        <option value="@cliente.Id"> @cliente.Nome</option>
                                    }

                                }
                            </select>
                            <label for="vendedor" class="Vendedor">Vendedor:</label>
                            <input type="text" value="@ViewBag.NomeFuncionario" class="campoAluguelPequeno" disabled>
                            <input type="text" id="vendedor" value="@ViewBag.CodFuncionario" class="campoAluguelPequeno" style="display:none">
                        </td>
                    </tr>
                    <tr>
                        <td class="Cem" style="@display">
                            <label for="categoriaAluga">Categoria:</label>
                            <select id="categoriaAluga" onchange="carregaItens()">
                                @foreach (Categoria categoria in ViewBag.listaCategorias)
                                {

                                    <option value="@categoria.Id">@categoria.Nome</option>
                                }
                            </select>
                            <br>
                            <br>
                            <label for="itensAluga" @display>Itens:</label>
                            <select id="itensAluga" onchange="escolheItem()"@display>
                                <option value="0">Escolha...</option>
                                @*@foreach (Alugavel alugavel in ViewBag.listaAlugavel)
                                    {
                                        string item = alugavel.Nome + " - Qtd: " + alugavel.Quantidade + " - Valor: " + alugavel.Valor_aluguel;
                                        <option value="@alugavel.Id">@item</option>
                                    }*@
                            </select>
                            <label for="itenQtd" @display>Quantidade:</label>
                            <input type="text" id="itenQtd" class="campoAluguelMini" @display>
                            <input type="button" id="btnAdd" onclick="adicionaItem()" value="Adicionar" @display>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label id="itemDescricao"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table id="dataTable" width="400px" border="1">
                                <thead>
                                    <tr>
                                        <th class="Cabecalho">      </th>
                                        <th class="Cabecalho"> Codigo </th>
                                        <th class="Cabecalho"> Item </th>
                                        <th class="Cabecalho"> Quantidade </th>
                                        <th class="Cabecalho"> Valor Unitário </th>
                                    </tr>
                                </thead>
                                <tbody>
                                       @foreach (ItemAluguel item in Model.Itens)
                                    {
                                        <tr>
                                            <td><input type="checkbox" name="chkbox[]"></td>
                                            <td>@item.IdItem</td>
                                            <td>@(((IEnumerable<Alugavel>)ViewBag.listaAlugavel).Where(o => o.Id == item.IdItem).Select(o => o.Nome).FirstOrDefault())</td>
                                            <td>@item.Quantidade</td>
                                            <td>@item.Valor</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                        <td style="padding-top:1%">
                            <label for="taxaDesconto"> Taxa de Desconto (%)</label>
                            <input type="number" onchange="calculaVlrTotal()" id="taxaDesconto" max="100" step="5" style="width:100px"/>
                        </td>
                        <td>

                            <label for="tempoAluguel"> Período de Aluguel (meses):</label>
                            <br>
                            <input type="number" onchange="calculaVlrTotal()" id="tempoAluguel" value="1" min="1" max="12">

                            <label>Valor Total:</label>
                            <br>
                            <input type="text" id="total" class="campoAluguelMedio" disabled>
                            <br>
                            <br>
                            <input type="button" id="btnFinalizar" onclick="finalizar()" value="Finalizar">
                            <br>
                            <br>
                            <input type="button" style="background-color: red;color: white;" value="Remover Item" onclick="removeItem()" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>